.flash-box
  グループを作成しました
.wrapper
  .chat-side
    .header-text
      .header-text__box
        %p.header-text__box__user-name
          test-user
        %ul.header-text__box__box__menu
          .header-text__box__box__menu__new-group
          = link_to ' ' do
            = fa_icon 'edit'
          .header-text__box__box__menu__edit-user
          = link_to ' ' do
            = fa_icon 'cog'
    .groups
      .group
        %p.group-name
          test-group
        %p.group-comment
          さようなら
        %p.group-name
          sample-group
        %p.group-comment
          hello!
        %p.group-name
          example
        %p.group-comment
          まだメッセージがありません
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          test-groups
        %ul.main-header__left-box__member-list
          Member : user
      .main-header__edit-btn
        EDIT
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker
            test-user
          %p.message__upper-info__date
            2019/01/01/00:00:00:00
        %p.message__text
          こんにちは！
        .message__upper-info
          %p.message__upper-info__talker
            test-user
          %p.message__upper-info__date
            2019/01/01/00:00:00:00
        %p.message__text
          さようなら
    .form
      %form.new_message
        .input-box
          %input.input-box__text{:placeholder => "type a message"}
          %label.input-box__image{for: "message-image"}
            = fa_icon 'image'
            %input.message_image.input-box__image__file{:name => "message[image]", :type => "file"}
        %input.submit-btn{:type => "submit", :value => "Send"}
        
