.flash-box
  グループを作成しました
.wrapper
  .chat-side
    .header
      %h3.header__name
        = current_user.name
      %ul.header__lists
        %li.list
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to '#' do
            .group__name
              = group.name
            .group__message
              メッセージはまだありません。
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          test-groups
        %ul.main-header__left-box__member-list
          Member : user
      .main-header__edit-btn
        EDIT
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker
            test-user
          %p.message__upper-info__date
            2019/01/01/00:00:00:00
        %p.message__text
          こんにちは！
        .message__upper-info
          %p.message__upper-info__talker
            test-user
          %p.message__upper-info__date
            2019/01/01/00:00:00:00
        %p.message__text
          さようなら
    .form
      %form.new_message
        .input-box
          %input.input-box__text{placeholder: "type a message"}
          %label.input-box__image{for: "message-image"}
            = fa_icon 'image'
            %input.message_image.input-box__image__file{name: "message[image]", type: "file"}
        %input.submit-btn{type: "submit", value: "Send"}
        
